<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工厂制定</title>
    <link rel="stylesheet" type="text/css" href="../../../common/css/bootstrap.min.css">
    <!-- 项目自定义图标 -->
    <link rel="stylesheet" type="text/css" href="../../../common/icon/iconfont.css">
    <!--公共样式-->
    <link rel="stylesheet" type="text/css" href="../../../common/css/public.css">
    <!--公司详情店铺首页-->
    <link rel="stylesheet" type="text/css" href="../../../module/CompanyDetails/factorycustom/factorycustom.css">
    <!-- jquery1.12.4版本 -->
    <script type="text/javascript" src="../../../common/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../../common/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../common/js/zoom.js"></script>

</head>
<body>
<div class="companydetail-content-right-top">
    <div id="myTabs" >
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#first" aria-controls="first" role="tab" data-toggle="tab">大口径无缝管</a></li>
            <li role="presentation"><a href="#second" aria-controls="second" role="tab" data-toggle="tab">大口径焊管</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="first">
                <ul class="tab-content-ul">
                    <li class="first-top">
                        <div class="content-czq1">
                            <div class="content-left">
                                <div class="small">
                                    <img src="../../../material/CompanyDetails/factorycustom/images/04.jpg" alt="" class="smallImg">
                                    <div class="move" ></div>
                                </div>
                                <ul class="spuersmall">
                                    <li class="active"><img src="../../../material/CompanyDetails/factorycustom/images/04.jpg" alt=""></li>
                                    <li><img src="../../../material/CompanyDetails/factorycustom/images/01.jpg" alt=""></li>
                                    <li><img src="../../../material/CompanyDetails/factorycustom/images/02.jpg" alt=""></li>
                                </ul>
                                <div class="big">
                                    <img src="../../../material/CompanyDetails/factorycustom/images/04.jpg" alt="" class="bigImg">
                                </div>
                            </div>
                            <div class="content-right">
                                <h4>大口径不锈钢无缝管外径可达1.2米</h4>
                                <ul>
                                    <li>
                                        <i>材质：</i>
                                        <span>304,304L,310S,321</span>
                                    </li>
                                    <li>
                                        <i>规格：</i>
                                        <span>壁厚：常规</span>
                                    </li>
                                    <li>
                                        <i>外径：</i>
                                        <span>219-1200</span>
                                    </li>
                                    <li>
                                        <i>壁厚：</i>
                                        <span> 常规</span>
                                    </li>
                                    <li>
                                        <i>最小起订：</i>
                                        <span> 1吨</span>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </li>
                    <li class="first-bottom">
                        <span>详细说明</span>
                        <div class="first-bottom-info">
                            <p>
                                浙江益大特钢有限公司创建于1996年，是浙江省范围内专业生产不锈钢管的较大规模企业之一。公司生产基地坐落在丽水市松阳工业园区并在温州龙湾拥有大型仓储中心。拥有员工400多人, 13年度产量超万吨。公司严格按ISO9001：2008要求建立质量管理体系，为较早通过国家级特种设备制造许可证企业（A、B级压力管道元件，编号 TS2710C42—2016）；并于08年成功获取德国莱茵公司颁发的欧盟承压设备指令（PED）认证TUV证书和AD证书(编号：01 202 CH/Q-08 0305)。</p>
                            <p class="cancle-margin">
                                目前，浙江益大特钢有限公司主要特色是专业大口径不锈钢无缝管，最大可生产外径1.2米的不锈钢无缝管。月产能1000吨以上，管坯全部采用青山特钢，永兴特钢，公司产品特色：
                            </p>
                                <ul>
                                    <li>
                                        大口径超厚壁管：最大壁厚可达80mm；
                                    </li>
                                    <li>
                                        大口径超长管：单支长度最长可做18米长。
                                    </li>
                                    <li>
                                        特大口径不锈钢无缝管：最大外径可做1250mm；
                                    </li>
                                    <li class="needMarign-top">
                                        厂址：浙江省松阳工业园区瑞阳大道225号
                                    </li>
                                    <li>
                                        销售部：温州市龙湾区蓝田工业区
                                    </li>
                                    <li>
                                        电话：0577-86868616  13666576588   传真：0577-85636858
                                    </li>
                                </ul>
                            </p>

                        </div>
                    </li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane fade " id="second">
                <ul class="tab-content-ul">
                    <li class="first-top">
                        <div class="content-czq2">
                            <div class="content-left">
                                <div class="small">
                                    <img src="../../../material/CompanyDetails/factorycustom/images/04.jpg" alt="" class="smallImg">
                                    <div class="move" ></div>
                                </div>
                                <ul class="spuersmall">
                                    <li class="active"><img src="../../../material/CompanyDetails/factorycustom/images/04.jpg" alt=""></li>
                                    <li><img src="../../../material/CompanyDetails/factorycustom/images/01.jpg" alt=""></li>
                                    <li><img src="../../../material/CompanyDetails/factorycustom/images/02.jpg" alt=""></li>
                                </ul>
                                <div class="big">
                                    <img src="../../../material/CompanyDetails/factorycustom/images/04.jpg" alt="" class="bigImg">
                                </div>
                            </div>
                            <div class="content-right">
                                <h4>大口径不锈钢无缝管外径可达1.2米</h4>
                                <ul>
                                    <li>
                                        <i>材质：</i>
                                        <span>304,304L,310S,321</span>
                                    </li>
                                    <li>
                                        <i>规格：</i>
                                        <span>壁厚：常规</span>
                                    </li>
                                    <li>
                                        <i>外径：</i>
                                        <span>219-1200</span>
                                    </li>
                                    <li>
                                        <i>壁厚：</i>
                                        <span> 常规</span>
                                    </li>
                                    <li>
                                        <i>最小起订：</i>
                                        <span> 1吨</span>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </li>
                    <li class="first-bottom">
                        <span>详细说明</span>
                        <div class="first-bottom-info">
                            <p>
                                浙江益大特钢有限公司创建于1996年，是浙江省范围内专业生产不锈钢管的较大规模企业之一。公司生产基地坐落在丽水市松阳工业园区并在温州龙湾拥有大型仓储中心。拥有员工400多人, 13年度产量超万吨。公司严格按ISO9001：2008要求建立质量管理体系，为较早通过国家级特种设备制造许可证企业（A、B级压力管道元件，编号 TS2710C42—2016）；并于08年成功获取德国莱茵公司颁发的欧盟承压设备指令（PED）认证TUV证书和AD证书(编号：01 202 CH/Q-08 0305)。</p>
                            <p class="cancle-margin">
                                目前，浙江益大特钢有限公司主要特色是专业大口径不锈钢无缝管，最大可生产外径1.2米的不锈钢无缝管。月产能1000吨以上，管坯全部采用青山特钢，永兴特钢，公司产品特色：
                            </p>
                            <ul>
                                <li>
                                    大口径超厚壁管：最大壁厚可达80mm；
                                </li>
                                <li>
                                    大口径超长管：单支长度最长可做18米长。
                                </li>
                                <li>
                                    特大口径不锈钢无缝管：最大外径可做1250mm；
                                </li>
                                <li class="needMarign-top">
                                    厂址：浙江省松阳工业园区瑞阳大道225号
                                </li>
                                <li>
                                    销售部：温州市龙湾区蓝田工业区
                                </li>
                                <li>
                                    电话：0577-86868616  13666576588   传真：0577-85636858
                                </li>
                            </ul>
                            </p>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../../common/js/placehoder.js"></script>
<script src="../../../common/js/public.js"></script>
<script src="../../../module/CompanyDetails/factorycustom/factorycustom.js"></script>

</html>