<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>销售统计</title>
	<!-- 用最新的IE引擎渲染 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
	<!-- 页面窗口自适应 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../../../common/favorite/ssslogo.ico">
	<!-- 框架样式 -->
	<link rel="stylesheet" type="text/css" href="../../../common/css/bootstrap.min.css">
	<!-- 项目自定义图标 -->
	<link rel="stylesheet" type="text/css" href="../../../common/icon/iconfont.css">
	<!--公共样式-->
	<link rel="stylesheet" type="text/css" href="../../../common/css/public.css">

	<link rel="stylesheet" type="text/css" href="../../../common/css/public_banner.css">
	<!-- 首页样式 -->
	<link rel="stylesheet" type="text/css" href="../../../module/home/home.css">
	<!-- 库存管理样式 -->
	<link rel="stylesheet" type="text/css" href="../../../module/SellerCenter/salesStatistics/salesStatistics.css">
	<!-- jquery1.12.4版本 -->
	<script type="text/javascript" src="../../../common/js/jquery.min.js"></script>
	<!-- 库存管理js -->
	<script type="text/javascript" src="../../../module/SellerCenter/salesStatistics/salesStatistics.js"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="home-top">
			<div class="container-fluid">
				<span class="navbar-brand"><i class="iconfont icon-shouye"></i></span>
				<p class="navbar-text">您好，欢迎来到上上工业速买网！<button class="btn">退出</button></p>
				<!-- 右侧菜单 -->
				<ul class="home-ul">
					<li class="myOrder">我的订单 <span class="caret"></span>
						<ul>
							<li>123</li>
							<li>123</li>
							<li>123</li>
						</ul>
					</li>
					<li>消息中心(0)</li>
					<li>会员中心</li>
					<li><i class="iconfont icon-gouwuche shop-card"></i> 购物车</li>
					<li>在线客服</li>
					<li class="li-last"><i class="iconfont icon-dianhua"></i>400-7676-208</li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
	</nav>
	<div class="home-title">
		<div class="title-top">
			<div class="title-left">
				<img src="../../../material/home/logo.png" />
			</div>
			<!-- 右侧菜单 -->
			<div class="title-right">
				<ul class="title-ul">
					<li><a href="../../home/index.html">首页</a></li>
					<li><a href="../../FindSpotgoods/index.html">找现货</a></li>
					<li><a href="../../FindCustomMade/index.html">找定制</a></li>
					<li><a href="../../FindAskbuy/index.html">找求购</a></li>
					<li><a href="../../FindLogistics/index.html">找物流</a></li>
					<li><a href="../../ssInformation/index.html">资讯</a></li>
					<li><a href="../../ssResume/index.html">企业招聘</a></li>
				</ul>
			</div>
			<button class="title-shoppingCart">
	            <i class="iconfont icon-gouwuche"></i><span class="shoppingCart">购物车</span><span class="shoppingNum">0</span>
	        </button>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- 销售统计 -->
	<div class="salesStatistics">
		<div class="mem-title">
			<div class="mem-title-in">
				<ul>
					<a href="../../memberCenter/index.html">
						<li>
							<i class="iconfont icon-huiyuanzhongxin"></i>
							<p>会员中心</p>
						</li>
					</a>
					<a href="#">
						<li class="active">
							<i class="iconfont icon-dianpu"></i>
							<p>卖家中心</p>
						</li>
					</a>
					<a href="">
						<li>
							<i class="iconfont icon-shouye1"></i>
							<p>网站首页</p>
						</li>
					</a>
					<a href="">
						<li>
							<i class="iconfont icon-zhuxiaodenglu"></i>
							<p>注销登陆</p>
						</li>
					</a>
				</ul>
				<div class="mem-title-right">
					<img src="../../../material/memberCenter/touxiang.png" alt="">
					<span>
						您好，王鹏翔
						<br/>
						<span class="small">普通VIP会员<i class="iconfont icon-VIP"></i></span>
					</span>
				</div>
			</div>
		</div>
		<div class="mem-content">
			<div class="mem-left">
				<ul>
					<a href="../index.html">
						<li>
							<i class="iconfont icon-dianpushezhi first"></i>
							店铺设置
							<i class="iconfont icon-jiantou1"></i>
						</li>
					</a>
					<a href="../inventoryManagement/index.html">
						<li>
							<i class="iconfont icon-kucunguanli first"></i>
							库存管理
							<i class="iconfont icon-jiantou1"></i>
						</li>
					</a>
					<a href="../soldOrders/index.html">
						<li>
							<i class="iconfont icon-dingdandaifukuan first"></i>
							售出订单
							<i class="iconfont icon-jiantou1"></i>
						</li>
					</a>
					<a href="../saleOrder/index.html">
						<li>
							<i class="iconfont icon-temai first"></i>
							特卖订单
							<i class="iconfont icon-jiantou1"></i>
						</li>
					</a>
					<a href="#">
						<li class="active">
							<i class="iconfont icon-tongji first"></i>
							销售统计
							<i class="iconfont icon-jiantou1"></i>
						</li>
					</a>
					<a href="../evaluationManagement/index.html">
						<li>
							<i class="iconfont icon-pingjiaguanli first"></i>
							评价管理
							<i class="iconfont icon-jiantou1"></i>
						</li>
					</a>
					<a href="../afterSalesManagement/index.html">
						<li>
							<i class="iconfont icon-shouhouguanli first"></i>
							特卖管理
							<i class="iconfont icon-jiantou1"></i>
						</li>
					</a>
				</ul>
			</div>
			<div class="mem-right">
				<div class="mem-right-title">
					<p class="first"><span class="line"></span>销售统计详细信息</p>
				</div>
				<div class="mem-right-content">
					<div class="detail-box">
						<p class="detail-box-top">
							<span class="radius1">
								<span class="radius2">
									<i class="iconfont icon-dingdan-copy"></i>
								</span>
							</span>
							<span class="detail-text">近30天订单数</span>
						</p>
						<p class="detail-box-center"><span class="data-color">28</span>单</p>
						<p class="detail-box-bottom">未支付订单：<span>5</span><span>单</span></p>
					</div>
					<div class="detail-box">
						<p class="detail-box-top">
							<span class="radius1">
								<span class="radius2">
									<i class="iconfont icon-money"></i>
								</span>
							</span>
							<span class="detail-text">近30天成交金额</span>
						</p>
						<p class="detail-box-center">
							<span class="rmb-symbol">￥</span>
							<span class="data-color">50</span>万元
						</p>
						<p class="detail-box-bottom">未支付总额：<span>100,000,00</span><span>元</span></p>
					</div>
					<div class="detail-box">
						<p class="detail-box-top">
							<span class="radius1">
								<span class="radius2">
									<i class="iconfont icon-dingdan-copy"></i>
								</span>
							</span>
							<span class="detail-text">总订单数量</span>
						</p>
						<p class="detail-box-center"><span class="data-color other-color">66</span>单</p>
						<p class="detail-box-bottom">未支付订单：<span>5</span><span>单</span></p>
					</div>
					<div class="detail-box">
						<p class="detail-box-top">
							<span class="radius1">
								<span class="radius2">
									<i class="iconfont icon-money"></i>
								</span>
							</span>
							<span class="detail-text">总成交金额</span>
						</p>
						<p class="detail-box-center">
							<span class="rmb-symbol other-color">￥</span>
							<span class="data-color other-color">100</span>万元
						</p>
						<p class="detail-box-bottom">未支付总额：<span>100,000,00</span><span>元</span></p>
					</div>
					<div class="detail-box">
						<p class="detail-box-top">
							<span class="radius1">
								<span class="radius2">
									<i class="iconfont icon-pingfen"></i>
								</span>
							</span>
							<span class="detail-text">综合总评分</span>
						</p>
						<p class="detail-box-center"><span class="data-color">4.5</span>分</p>
						<p class="detail-box-bottom">***************</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="home-footer">
		<div class="containert">
			<div class="home-footer-login margin-left">
				<img src="../../../material/home/logo1.png" alt="">
				<p>客服热线：400-7676-208</p>
				<p>服务时间：8:00-19:00</p>
			</div>
			<div class=" home-footer-list">
				<ul class="home-footer-list-ul">
					<li>
						<h4>我要买钢管</h4>
						<ul class="home-footer-listIn-ul">
							<li><a href="">我要买货</a></li>
							<li><a href="">采购商管理后台</a></li>
							<li><a href="">采购商入驻好处</a></li>
						</ul>
					</li>
					<li>
						<h4>我要卖钢管</h4>
						<ul class="home-footer-listIn-ul">
							<li><a href="">客户入驻须知</a></li>
							<li><a href="">供应商管理后台</a></li>
							<li><a href="">为什么加入“速卖网”</a></li>
						</ul>
					</li>
					<li>
						<h4>售后服务</h4>
						<ul class="home-footer-listIn-ul">
							<li><a href="">售后政策</a></li>
							<li><a href="">异议处理流程</a></li>
							<li><a href="">售后服务地点</a></li>
						</ul>
					</li>
					<li class="last-no-wire">
						<h4>常见问题</h4>
						<ul class="home-footer-listIn-ul">
							<li><a href="">无法登录/忘记密码</a></li>
							<li><a href="">修改帐户信息</a></li>
							<li><a href="">速卖网交易流程</a></li>
						</ul>
					</li>
					<div class="clearfix"></div>

				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="home-copyright">
		<div class="containert">
			<div class="home-copyright-top">
				<ul class="home-copyright-ul">
					<li><span>上上工业速卖网</span></li>
					<li><span>关于我们</span></li>
					<li><span>实地认证</span></li>
					<li><span>手机找现货</span></li>
					<li><span>隐私声明</span></li>
					<li class="last-no-wire"><span>联系我们</span></li>
				</ul>
			</div>
			<div class="home-copyright-bottom">© 2001-2017 www.gysmw.com 版权所有 备案号 【沪ICP备05025340-2】许可证号【沪ICP备05025340】</div>
		</div>
	</div>
</body>
<script src="../../../common/js/placehoder.js"></script>
<!-- 公共头部 -->
<script type="text/javascript" src="../../../common/js/public.js"></script>
</html>