<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>会员中心_收货地址</title>
	<!-- 用最新的IE引擎渲染 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
	<!-- 页面窗口自适应 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../../../common/favorite/ssslogo.ico">
	<!-- 框架样式 -->
	<link rel="stylesheet" type="text/css" href="../../../common/css/bootstrap.min.css">
	<!-- 项目自定义图标 -->
	<link rel="stylesheet" type="text/css" href="../../../common/icon/iconfont.css">
	<!--公共样式-->
	<link rel="stylesheet" type="text/css" href="../../../common/css/public.css">

	<link rel="stylesheet" type="text/css" href="../../../common/css/public_banner.css">
	<!-- 首页样式 -->
	<link rel="stylesheet" type="text/css" href="../../../module/home/home.css">
	<!-- 收货地址样式 -->
	<link rel="stylesheet" type="text/css" href="../../../module/memberCenter/receivingAd/receivingAd.css">
	<!-- jquery1.12.4版本 -->
	<script type="text/javascript" src="../../../common/js/jquery.min.js"></script>
	<!--日期选择-->
    <script type="text/javascript" src="../../../common/js/distpicker.data.js"></script>
    <script type="text/javascript" src="../../../common/js/distpicker.js"></script>
	<!-- 收货地址js -->
	<script type="text/javascript" src="../../../module/memberCenter/receivingAd/receivingAd.js"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="home-top">
			<div class="container-fluid">
				<span class="navbar-brand"><i class="iconfont icon-shouye"></i></span>
				<p class="navbar-text">您好，欢迎来到上上工业速买网！<button class="btn">退出</button></p>
				<!-- 右侧菜单 -->
				<ul class="home-ul">
					<li class="myOrder">我的订单 <span class="caret"></span>
						<ul>
							<li>123</li>
							<li>123</li>
							<li>123</li>
						</ul>
					</li>
					<li>消息中心(0)</li>
					<li><a href="../../memberCenter/index.html">会员中心</a></li>
					<li class="gouwuche"><i class="iconfont icon-gouwuche shop-card"></i> 购物车</li>
					<li>在线客服</li>
					<li class="li-last"><i class="iconfont icon-dianhua"></i>400-7676-208</li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
	</nav>
	<div class="home-title">
		<div class="title-top">
			<div class="title-left">
				<img src="../../../material/home/logo.png" />
			</div>
			<!-- 右侧菜单 -->
			<div class="title-right">
				<ul class="title-ul">
					<li><a href="../../home/index.html">首页</a></li>
					<li><a href="../../FindSpotgoods/index.html">找现货</a></li>
					<li><a href="../../FindCustomMade/index.html">找定制</a></li>
					<li><a href="../../FindAskbuy/index.html">找求购</a></li>
					<li><a href="../../FindLogistics/index.html">找物流</a></li>
					<li><a href="../../ssInformation/index.html">资讯</a></li>
					<li><a href="../../ssResume/index.html">企业招聘</a></li>
				</ul>
			</div>
			<button class="title-shoppingCart">
	            <i class="iconfont icon-gouwuche"></i><span class="shoppingCart">购物车</span><span class="shoppingNum">0</span>
	        </button>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- 收货地址 -->
	<div class="receivingAd">
		<div class="mem-title">
			<div class="mem-title-in">
				<ul>
					<a href="../index.html">
						<li class="active">
							<i class="iconfont icon-huiyuanzhongxin"></i>
							<p>会员中心</p>
						</li>
					</a>
					<a href="../../SellerCenter/index.html">
						<li>
							<i class="iconfont icon-dianpu"></i>
							<p>卖家中心</p>
						</li>
					</a>
					<a href="">
						<li>
							<i class="iconfont icon-shouye1"></i>
							<p>网站首页</p>
						</li>
					</a>
					<a href="">
						<li>
							<i class="iconfont icon-zhuxiaodenglu"></i>
							<p>注销登陆</p>
						</li>
					</a>
				</ul>
				<div class="mem-title-right">
					<img src="../../../material/memberCenter/touxiang.png" alt="">
					<span>
						您好，王鹏翔
						<br/>
						<span class="small">普通VIP会员<i class="iconfont icon-VIP"></i></span>
					</span>
				</div>
			</div>
		</div>
		<div class="mem-content">
			<div class="mem-left">
				<ul>
					<a href="../index.html">
						<li>
							<i class="iconfont icon-dingdan first"></i>
							我的订单
							<i class="iconfont icon-jiantou1"></i>
						</li>
					</a>
					<a href="../accountInfo/index.html">
						<li>
							<i class="iconfont icon-zhanghao first"></i>
							账号信息
							<i class="iconfont icon-jiantou1"></i>
						</li>
					</a>
					<a href="../modifyPw/index.html">
						<li>
							<i class="iconfont icon-xiugaimima first"></i>
							修改密码
							<i class="iconfont icon-jiantou1"></i>
						</li>
					</a>
					<a href="#">
						<li class="active">
							<i class="iconfont icon-shouhuodizhi first"></i>
							收货地址
							<i class="iconfont icon-jiantou1"></i>
						</li>
					</a>
					<a href="../myMessage/index.html">
						<li>
							<i class="iconfont icon-wodexiaoxi first"></i>
							我的消息
							<i class="iconfont icon-jiantou1"></i>
						</li>
					</a>
					<a href="../myCollection/index.html">
						<li>
							<i class="iconfont icon-shoucang first"></i>
							我的收藏
							<i class="iconfont icon-jiantou1"></i>
						</li>
					</a>
					<a href="../myLogistics/index.html">
						<li>
							<i class="iconfont icon-wuliu1 first"></i>
							我的物流
							<i class="iconfont icon-jiantou1"></i>
						</li>
					</a>
					<a href="../myAskbuy/index.html">
						<li>
							<i class="iconfont icon-gouwuche2 first"></i>
							我的求购
							<i class="iconfont icon-jiantou1"></i>
						</li>
					</a>
				</ul>
			</div>
			<div class="mem-right">
				<div class="mem-right-title">
					<p class="first"><span class="line"></span>我的收货地址</p>
					<button class="add-new-addr">
						<i class="iconfont icon-tianjia"></i>
						添加新地址
					</button>
					<div class="select">
						<input type="checkbox" id="select-all"><label for="select-all">全选</label>
						<button class="delete1">删除</button>
					</div>
				</div>
				<div class="men-right-table">
					<table>
						<thead>
							<tr>
								<th>收货人姓名</th>
								<th>收货人地址</th>
								<th>手机号码</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="receive-name">
									<i class="iconfont icon-queren"></i>
									王鹏翔
								</td>
								<td>上海市嘉定区叶城路，淮海国际广场1118号11楼</td>
								<td>15721597987</td>
								<td class="first-shanchu operation">
									<button class="first-btn">设为默认</button>
									<i class="iconfont icon-shanchu"></i>
								</td>
							</tr>
							<tr>
								<td class="receive-name">
									<input type="checkbox">
									刘天宇
								</td>
								<td>上海市嘉定区叶城路，淮海国际广场1118号11楼</td>
								<td>13605247035</td>
								<td>
									<button class="first-btn sceond-btn">设为默认</button>
									<i class="iconfont icon-shanchu"></i>
								</td>
							</tr>
							<tr>
								<td class="receive-name">
									<input type="checkbox">
									王鹏翔
								</td>
								<td>上海市嘉定区叶城路，淮海国际广场1118号11楼</td>
								<td>13605247035</td>
								<td>
									<button class="first-btn sceond-btn">设为默认</button>
									<i class="iconfont icon-shanchu"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="add-addr"></div>
		<div class=" add-addr new-address">
			<div class="addr-top">
				<div class="addr-top-left">
					<i class="iconfont icon-xinzeng"></i>
					<span>新增收货地址</span>
				</div>
				<div class="addr-top-right">
					<i class="iconfont icon-guanbi"></i>
				</div>
			</div>
			<div class="addr-bottom">
				<div class="addr-bottom-top">
					<label for="name">收货人：</label>
					<input type="text" id="name" placeholder="请输入收货人姓名">
					<label for="number" class="phone-number">手机号：</label>
					<input type="number" id="number" placeholder="请输入手机号">
				</div>
				<div class="addr-bottom-center">
					<label for="">收货地址：</label>
					<div id="distpicker1">
		                <select  class="form-control">
		                </select>
		                <select  class="form-control secround-select">
		                </select>
		                <select class="form-control secround-select">
		                </select>
		                <div class="clearfix"></div>
		            </div>
				</div>
				<div class="addr-bottom-bottom">
					<label for="">详细地址：</label>
					<textarea name=""></textarea>
				</div>
				<div class="addr-bottom-footer">
					<div class="addr-b-f-left">
						<input type="checkbox">
						设为默认地址
					</div>
					<div class="addr-b-f-right">
						<button>保存</button>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	<div class="home-footer">
		<div class="containert">
			<div class="home-footer-login margin-left">
				<img src="../../../material/home/logo1.png" alt="">
				<p>客服热线：400-7676-208</p>
				<p>服务时间：8:00-19:00</p>
			</div>
			<div class=" home-footer-list">
				<ul class="home-footer-list-ul">
					<li>
						<h4>我要买钢管</h4>
						<ul class="home-footer-listIn-ul">
							<li><a href="">我要买货</a></li>
							<li><a href="">采购商管理后台</a></li>
							<li><a href="">采购商入驻好处</a></li>
						</ul>
					</li>
					<li>
						<h4>我要卖钢管</h4>
						<ul class="home-footer-listIn-ul">
							<li><a href="">客户入驻须知</a></li>
							<li><a href="">供应商管理后台</a></li>
							<li><a href="">为什么加入“速卖网”</a></li>
						</ul>
					</li>
					<li>
						<h4>售后服务</h4>
						<ul class="home-footer-listIn-ul">
							<li><a href="">售后政策</a></li>
							<li><a href="">异议处理流程</a></li>
							<li><a href="">售后服务地点</a></li>
						</ul>
					</li>
					<li class="last-no-wire">
						<h4>常见问题</h4>
						<ul class="home-footer-listIn-ul">
							<li><a href="">无法登录/忘记密码</a></li>
							<li><a href="">修改帐户信息</a></li>
							<li><a href="">速卖网交易流程</a></li>
						</ul>
					</li>
					<div class="clearfix"></div>

				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="home-copyright">
		<div class="containert">
			<div class="home-copyright-top">
				<ul class="home-copyright-ul">
					<li><span>上上工业速卖网</span></li>
					<li><span>关于我们</span></li>
					<li><span>实地认证</span></li>
					<li><span>手机找现货</span></li>
					<li><span>隐私声明</span></li>
					<li class="last-no-wire"><span>联系我们</span></li>
				</ul>
			</div>
			<div class="home-copyright-bottom">© 2001-2017 www.gysmw.com 版权所有 备案号 【沪ICP备05025340-2】许可证号【沪ICP备05025340】</div>
		</div>
	</div>
</body>
<script src="../../../common/js/placehoder.js"></script>
<!-- 公共头部 -->
<script type="text/javascript" src="../../../common/js/public.js"></script>
</html>