<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>特卖管理</title>
	<!-- 用最新的IE引擎渲染 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
	<!-- 页面窗口自适应 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../../../common/favorite/ssslogo.ico">
	<!-- 框架样式 -->
	<link rel="stylesheet" type="text/css" href="../../../common/css/bootstrap.min.css">
	<!-- 项目自定义图标 -->
	<link rel="stylesheet" type="text/css" href="../../../common/icon/iconfont.css">
	<!--公共样式-->
	<link rel="stylesheet" type="text/css" href="../../../common/css/public.css">

	<link rel="stylesheet" type="text/css" href="../../../common/css/public_banner.css">
	<!-- 首页样式 -->
	<link rel="stylesheet" type="text/css" href="../../../module/home/home.css">
	<!-- 特卖管理样式 -->
	<link rel="stylesheet" type="text/css" href="../../../module/SellerCenter/afterSalesManagement/afterSalesManagement.css">
	<!-- jquery1.12.4版本 -->
	<script type="text/javascript" src="../../../common/js/jquery.min.js"></script>
	<!-- 特卖管理js -->
	<script type="text/javascript" src="../../../module/SellerCenter/afterSalesManagement/afterSalesManagement.js"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="home-top">
			<div class="container-fluid">
				<span class="navbar-brand"><i class="iconfont icon-shouye"></i></span>
				<p class="navbar-text">您好，欢迎来到上上工业速买网！<button class="btn">退出</button></p>
				<!-- 右侧菜单 -->
				<ul class="home-ul">
					<li class="myOrder">我的订单 <span class="caret"></span>
						<ul>
							<li>123</li>
							<li>123</li>
							<li>123</li>
						</ul>
					</li>
					<li>消息中心(0)</li>
					<li>会员中心</li>
					<li><i class="iconfont icon-gouwuche shop-card"></i> 购物车</li>
					<li>在线客服</li>
					<li class="li-last"><i class="iconfont icon-dianhua"></i>400-7676-208</li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
	</nav>
	<div class="home-title">
		<div class="title-top">
			<div class="title-left">
				<img src="../../../material/home/logo.png" />
			</div>
			<!-- 右侧菜单 -->
			<div class="title-right">
				<ul class="title-ul">
					<li><a href="../../home/index.html">首页</a></li>
					<li><a href="../../FindSpotgoods/index.html">找现货</a></li>
					<li><a href="../../FindCustomMade/index.html">找定制</a></li>
					<li><a href="../../FindAskbuy/index.html">找求购</a></li>
					<li><a href="../../FindLogistics/index.html">找物流</a></li>
					<li><a href="../../ssInformation/index.html">资讯</a></li>
					<li><a href="../../ssResume/index.html">企业招聘</a></li>
				</ul>
			</div>
			<button class="title-shoppingCart">
	            <i class="iconfont icon-gouwuche"></i><span class="shoppingCart">购物车</span><span class="shoppingNum">0</span>
	        </button>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- 特卖管理 -->
	<div class="afterSalesManagement">
		<div class="mem-title">
			<div class="mem-title-in">
				<ul>
					<a href="../../memberCenter/index.html">
						<li>
							<i class="iconfont icon-huiyuanzhongxin"></i>
							<p>会员中心</p>
						</li>
					</a>
					<a href="#">
						<li class="active">
							<i class="iconfont icon-dianpu"></i>
							<p>卖家中心</p>
						</li>
					</a>
					<a href="">
						<li>
							<i class="iconfont icon-shouye1"></i>
							<p>网站首页</p>
						</li>
					</a>
					<a href="">
						<li>
							<i class="iconfont icon-zhuxiaodenglu"></i>
							<p>注销登陆</p>
						</li>
					</a>
				</ul>
				<div class="mem-title-right">
					<img src="../../../material/memberCenter/touxiang.png" alt="">
					<span>
						您好，王鹏翔
						<br/>
						<span class="small">普通VIP会员<i class="iconfont icon-VIP"></i></span>
					</span>
				</div>
			</div>
		</div>
		<div class="mem-content">
			<div class="mem-left">
				<ul>
					<a href="../index.html">
						<li>
							<i class="iconfont icon-dianpushezhi first"></i>
							店铺设置
							<i class="iconfont icon-jiantou1"></i>
						</li>
					</a>
					<a href="#">
						<li>
							<i class="iconfont icon-kucunguanli first"></i>
							库存管理
							<i class="iconfont icon-jiantou1"></i>
						</li>
					</a>
					<a href="../soldOrders/index.html">
						<li>
							<i class="iconfont icon-dingdandaifukuan first"></i>
							售出订单
							<i class="iconfont icon-jiantou1"></i>
						</li>
					</a>
					<a href="../saleOrder/index.html">
						<li>
							<i class="iconfont icon-temai first"></i>
							特卖订单
							<i class="iconfont icon-jiantou1"></i>
						</li>
					</a>
					<a href="../salesStatistics/index.html">
						<li>
							<i class="iconfont icon-tongji first"></i>
							销售统计
							<i class="iconfont icon-jiantou1"></i>
						</li>
					</a>
					<a href="../evaluationManagement/index.html">
						<li>
							<i class="iconfont icon-pingjiaguanli first"></i>
							评价管理
							<i class="iconfont icon-jiantou1"></i>
						</li>
					</a>
					<a href="../afterSalesManagement/index.html">
						<li class="active">
							<i class="iconfont icon-shouhouguanli first"></i>
							特卖管理
							<i class="iconfont icon-jiantou1"></i>
						</li>
					</a>
				</ul>
			</div>
			<div class="mem-right">
				<div class="mem-right-title">
					<p class="first"><span class="line"></span>特卖管理</p>
					<button class="sale-request">特卖申请</button>
					<div class="select">
						<input type="checkbox" id="select-all"><label for="select-all">全选</label>
						<button class="delete1">删除</button>
					</div>
				</div>
				<div class="mem-right-table">
					<table>
						<thead>
							<tr>
								<th></th>
								<th class="text-left">特卖标题</th>
								<th>开始时间</th>
								<th>结束时间</th>
								<th>产品信息</th>
								<th>特卖价格</th>
								<th>状态</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="input-checkbox">
									<i class="iconfont icon-queren"></i>
								</td>
								<td class="text-left">无缝钢管特价销售</td>
								<td>2017-10-28</td>
								<td>2017-10-30</td>
								<td>304L 20*38</td>
								<td class="sale-price">15500元/吨</td>
								<td class="state">
									<span class="state-common audit-passed">审核通过</span>
								</td>
							</tr>
							<tr>
								<td class="input-checkbox">
									<input type="checkbox">
								</td>
								<td class="text-left">焊管特价销售</td>
								<td>2017-10-28</td>
								<td>2017-10-30</td>
								<td>304L 20*38</td>
								<td class="sale-price">15500元/吨</td>
								<td class="state">
									<span class="state-common audit">审核中</span>
								</td>
							</tr>
							<tr>
								<td class="input-checkbox">
									<input type="checkbox">
								</td>
								<td class="text-left">管件特价销售</td>
								<td>2017-10-28</td>
								<td>2017-10-30</td>
								<td>304L 20*38</td>
								<td class="sale-price">15500元/吨</td>
								<td class="state">
									<span class="state-common expired">未通过</span>
								</td>
							</tr>
							<tr>
								<td class="input-checkbox">
									<input type="checkbox">
								</td>
								<td class="text-left">法兰特价销售</td>
								<td>2017-10-28</td>
								<td>2017-10-30</td>
								<td>304L 20*38</td>
								<td class="sale-price">15500元/吨</td>
								<td class="state">
									<span class="state-common audit-passed">审核通过</span>
								</td>
							</tr>
							<tr>
								<td class="input-checkbox">
									<input type="checkbox">
								</td>
								<td class="text-left">无缝钢管特价销售</td>
								<td>2017-10-28</td>
								<td>2017-10-30</td>
								<td>304L 20*38</td>
								<td class="sale-price">15500元/吨</td>
								<td class="state">
									<span class="state-common audit-passed">审核通过</span>
								</td>
							</tr>
							<tr>
								<td class="input-checkbox">
									<input type="checkbox">
								</td>
								<td class="text-left">无缝钢管特价销售</td>
								<td>2017-10-28</td>
								<td>2017-10-30</td>
								<td>304L 20*38</td>
								<td class="sale-price">15500元/吨</td>
								<td class="state">
									<span class="state-common audit-passed">审核通过</span>
								</td>
							</tr>
							<tr>
								<td class="input-checkbox">
									<input type="checkbox">
								</td>
								<td class="text-left">无缝钢管特价销售</td>
								<td>2017-10-28</td>
								<td>2017-10-30</td>
								<td>304L 20*38</td>
								<td class="sale-price">15500元/吨</td>
								<td class="state">
									<span class="state-common audit-passed">审核通过</span>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="paging">
			            <div id="page" class="page_div">
			                <span class="totalSize">共<span>10</span>条记录</span>
			                <span class="totalPages">
			                    <span>1</span>/<span>2</span>页 
			                </span>
			                <a id="prePage">上一页</a>
			                <a class="current">1</a>
			                <a>2</a>
			                <a id="nextPage">下一页</a>
			            </div>
			        </div>
				</div>
			</div>
		</div>
	</div>
	<!-- 查看评价 -->
	<div class="lookEvaluate-bg"></div>
	<div class="lookEvaluate-bg lookEvaluate">
		<div class="mem-right-title lookEvaluate-title">
			<p class="first"><span class="line"></span>评价详细内容</p>
			<i class="iconfont icon-guanbi"></i>
		</div>
		<div class="evaluate-content">
			<p>很棒的一次购物体验，收到的货物很满意，物流也比较快，希望以后可以 长期合作！</p>
			<img src="../../../material/SellerCenter/evaluationManagement/img1.png" alt="">
			<img src="../../../material/SellerCenter/evaluationManagement/img2.png" alt="">
			<img src="../../../material/SellerCenter/evaluationManagement/img3.png" alt="">
		</div>
	</div>
	<div class="home-footer">
		<div class="containert">
			<div class="home-footer-login margin-left">
				<img src="../../../material/home/logo1.png" alt="">
				<p>客服热线：400-7676-208</p>
				<p>服务时间：8:00-19:00</p>
			</div>
			<div class=" home-footer-list">
				<ul class="home-footer-list-ul">
					<li>
						<h4>我要买钢管</h4>
						<ul class="home-footer-listIn-ul">
							<li><a href="">我要买货</a></li>
							<li><a href="">采购商管理后台</a></li>
							<li><a href="">采购商入驻好处</a></li>
						</ul>
					</li>
					<li>
						<h4>我要卖钢管</h4>
						<ul class="home-footer-listIn-ul">
							<li><a href="">客户入驻须知</a></li>
							<li><a href="">供应商管理后台</a></li>
							<li><a href="">为什么加入“速卖网”</a></li>
						</ul>
					</li>
					<li>
						<h4>售后服务</h4>
						<ul class="home-footer-listIn-ul">
							<li><a href="">售后政策</a></li>
							<li><a href="">异议处理流程</a></li>
							<li><a href="">售后服务地点</a></li>
						</ul>
					</li>
					<li class="last-no-wire">
						<h4>常见问题</h4>
						<ul class="home-footer-listIn-ul">
							<li><a href="">无法登录/忘记密码</a></li>
							<li><a href="">修改帐户信息</a></li>
							<li><a href="">速卖网交易流程</a></li>
						</ul>
					</li>
					<div class="clearfix"></div>

				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="home-copyright">
		<div class="containert">
			<div class="home-copyright-top">
				<ul class="home-copyright-ul">
					<li><span>上上工业速卖网</span></li>
					<li><span>关于我们</span></li>
					<li><span>实地认证</span></li>
					<li><span>手机找现货</span></li>
					<li><span>隐私声明</span></li>
					<li class="last-no-wire"><span>联系我们</span></li>
				</ul>
			</div>
			<div class="home-copyright-bottom">© 2001-2017 www.gysmw.com 版权所有 备案号 【沪ICP备05025340-2】许可证号【沪ICP备05025340】</div>
		</div>
	</div>
</body>
<script src="../../../common/js/placehoder.js"></script>
<!-- 公共头部 -->
<script type="text/javascript" src="../../../common/js/public.js"></script>
</html>